* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  

}

/* ESTILOS DEL HEADER */
/* HEADER: Usando flexbox */
.header {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  height: 100px;
  width: 100%;
  position:fixed;
  top:0px;
  z-index:5
}

.icon {
margin-left: 50px;
width: 7%;
margin:2px;
}

.links {
color: white; 
text-decoration: none;
margin-left:100px;
}

.inicio{
  position: absolute;
  top: 40px;
  left:700px;
  color:black;
  display:flex;
  flex-wrap:nowrap;
  margin-right:30px;
}


.carrito{
  width:6%;
  position:absolute;
  top:5px;
  right:50px;

}

.info-producto{
  font-size:17px;
  font-weight: bolder;
  background-color:white;
  margin-top: 200px;
  height:340px;
  width:550px;
  position:absolute;
  /*border-radius: 50px;*/
  padding:35px;
  display:inline-block;
  flex-direction:column-reverse;
  align-items:center;
  text-align: center;
}

.tarjeta-producto{
  
  position:relative;
  background-color: rgb(238, 232, 232);
  height:700px;
}

.contador{
  width:80px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position: relative;
  left:200px;
}

.numero{
  width:25px;
  background:black;
  border-radius:5px;
  text-align: center;
  color:white;
}


.form-register {
  width: 750px;
  margin: center;
  color: rgb(0, 0, 0);
  box-shadow: #000;
  text-align: center;
  
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #484646;
}

.controls {
  width: 250px;
  background: #e0e1e2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 18px;
  border: 1px solid #000000;
  font-family: 'Arial';
  font-size: 18px;
  color: rgb(10, 10, 10);

}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  

}

.form-register a {
  color: white;
  text-decoration: none;
  float: right;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100px;
  background: #000000;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16x;
  border-radius: 6px;
  width: 170px;
  height: 40px;
}
.general {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

a:hover{
  background-color: khaki;
  border-radius: 5px;
  
}

.Novedades {
  width: 400px;
  border-radius: 10px;
  position:relative;
  top:150px;
  left:80px;
}

.img_body {
  width:38.3%;
  position:relative;
  margin-right: 150px;
  margin-top: 40px;
}

button{

  background-color:black ;
  color:white;
  text-align: center;
  font-size: medium;
  font: bold;
  border-radius: 3px;
  margin-top:20px;
  width:200px;
  height:30px;
  border-radius:5px;

}

/*footer*/
.footer {
  background-color: #000;
  color: white;
  width: 100%;
  height: 200px;


}


.container1 {
margin-left: 60px;
float: left;
color: white;
}

.container2 {
background-color: #000;
color: white;
}
.container3 {
margin-right: 60px;
float: right;
color: white;
}

.container4 {
text-align: center;
}