* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    position:relative;
}
   
/* nav {
    width: 100%;
    background-color: #000;
    height: 15vh;
} */

.header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    height: 100px;
    top:0px;
    z-index:5;
  }
  
  .icon {
    margin-left: 50px;
    width: 8%;
    margin:2px;
    border-radius: 5px;
  }
  
  .links {
    color: white;
    position:relative;
    left:450px;
    margin-left:50px;
    text-decoration: none;
  }

.brand {
    margin-left: 5%;
    line-height: 80px;
}
   
.brand a {
    color: white;
    font-size: 30px;
}
nav ul {
    float: right;
    margin-right: 5%;
    background-color: #000;
}

nav ul li  {
    display: inline-block;
    line-height: 80px;
    margin-left: 50px;
}

nav ul li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}


/*footer*/
.footer {
    background-color: #000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    color: white;
    width: 100%;
    height: 10vh;
}

.form-register {
    width: 750px;
    margin: center;
    color: rgb(0, 0, 0);
    box-shadow: #000;
    text-align: center;
    
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #484646;
}

.controls {
    width: 250px;
    background: #e0e1e2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #000000;
    font-family: 'Arial';
    font-size: 18px;
    color: rgb(10, 10, 10);

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    

}

.form-register a {
    color: white;
    text-decoration: none;
    float: right;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100px;
    background: #000000;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16x;
    border-radius: 6px;
    width: 170px;
    height: 40px;
}
.general {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.Novedades {
    width: 400px;
    border-radius: 10px;
    position:relative;
    top:150px;
    left:80px;
}

.img_body {
    width:38%;
    position:relative;
}
