* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dadada;
}


   
nav {
    width: 100%;
    background-color: #000;
    height: 130px;
    border-radius: 4px;
}

.brand {
    margin-left: 5%;
    line-height: 80px;
}
   
.brand a {
    color: white;
    font-size: 30px;
}

nav ul {
    float: right;
    margin-right: 5%;
    background-color: #000;
}

nav ul li  {
    display: inline-block;
    line-height: 80px;
    margin-left: 50px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

.brand img {
    width: 160px;
    height: 80;

}

 
/*footer*/
.footer {
    background-color: #000;
    color: white;
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.info {
    text-align: center;
}

.container1 {
    text-align: right;
}

.container2 {
    background-color: #000;
    width: 100%;
    height: 430px;
}

.img-producto {
    width: 100%;
  margin: 20px auto;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}



.form-register {
    width: 400px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
    text-align: center;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #484646;
}

.controls {
    width: 250px;
    background: #e0e1e2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(10, 10, 10);

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.form-register a {
    color: white;
    text-decoration: none;
    float: right;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100px;
    background: #000000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16x;
    border-radius: 6px;
    width: 170px;
    height: 40px;
}



.general {
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    width: 800px;
    height: 640px;
    background-color: #dadada;
}

.Novedades {
    float: right;
    width: 400px;
    height: 600px;
    background-color: #dadada;
    border-radius: 10px;
}